<div class="row">
	<div class="large-12 columns">
		<h3><%= @repository.display_or_name %></h3>
		<hr>
		<p>
			<% if @repository.prompt.present? && @repository.prompt != "" %>
				<%= raw markdown @repository.prompt %>
			<% else %>
				Please enter your bug report or feature request, then click 'Submit'.  If you're reporting a bug, try to include as many details as possible about what you were doing when the bug occurred- a detailed report makes a bug much easier to track down.
			<% end %>
		</p>
		<hr>
		<%= form_tag(repository_public_path(@repository.holder_name, @repository.name), method: :post) do %>
			<fieldset>
				<legend>Report</legend>
				<div class="row">
					<div class="small-6 columns">
						<%= label :name, "Name" %>
			 			<%= text_field_tag :name %>
			 		</div>
					<div class="small-6 columns">
						<%= label :email, "Email" %>
			 			<%= email_field_tag :email %>
			 		</div>
			 	</div>
			 	<div class="row">
					<div class="small-12 columns">
					 	<%= label :details, "Details" %>
					 	<%= text_area_tag :details, "", :class => "report-textarea" %>
					</div>
				</div>
				<div class="row">
					<div class="small-3 columns">
			 			<%= submit_tag "Submit", :class => "button small" %>
			 		</div>
			 	</div>
			</fieldset>
		<% end %>
	</div>
</div>