<div class="row">
  <div class="small-12 columns">
    <h3>About Git Reports</h3>
    <p>Git Reports is 100% unaffiliated with GitHub.  It was made as an evening side project by <%= link_to "Zach Schneider", "http://www.schneidmaster.com" %> to fill a personal need.</p>
    <h3>Technologies</h3>
    <p>Git Reports was built with <%= link_to "Rails 4", "https://github.com/rails/rails" %>, <%= link_to "Foundation 5", "foundation.zurb.com" %>, and <%= link_to "MySQL", "http://www.mysql.com/" %>.  It uses the excellent <%= link_to "OctoKit", "https://github.com/octokit/octokit.rb" %> API client to communicate with the GitHub gods.</p>
    <h3>Source</h3>
    <p>Git Reports is open-sourced under the <%= link_to "MIT License", "http://opensource.org/licenses/MIT" %>.  Fittingly enough, the source code is <%= link_to "hosted on GitHub", "https://github.com/schneidmaster/gitreports.com" %>.  You're welcome to clone, tweak, and self-host if you like.  If you add a neat new feature, do me a solid and send me a pull request.</p>
  </div>
</div>