<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(default_meta) %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag *webpack_asset_paths('application', extension: 'css') %>
    <%= javascript_include_tag *webpack_asset_paths('application', extension: 'js') %>
  </head>

  <body>
    <div class='flex-body'>
      <%= render partial: 'layouts/header' %>

      <main>
        <div class='container'>
          <%= render partial: 'layouts/flash' %>

          <%= yield %>
        </div>
      </main>

      <%= render partial: 'layouts/footer' %>
    </div>
  </body>
</html>
